# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
bin/
.vs/
.vsconfig
Assets/DialogsData/Day4/Day4.3JustinAlarmDoneDissComes (Auto-Backup).asset
Assets/DialogsData/Day4/Day4.3JustinAlarmDoneDissComes (Auto-Backup).asset.meta
Assets/DialogsData/Day53/Day53_Auction  (Auto-Backup).asset
Assets/DialogsData/Day53/Day53_Auction  (Auto-Backup).asset.meta
Builds
